<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<Link type="text/css" rel="stylesheet" href="../static/css/article.css"/>
	<script type="text/javascript" rel="script" src="../static/js/context_circle.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/jquery.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/detailShow.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/start.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/altAjax.js"></script>
	<title>杨某某是也</title>
</head>
<body>
	<div class="altShowBg">
	<div class="altShow"></div>
	<p class="exit">X</p>
	</div>

	<div class="header"></div>

	<div class="menu">
		<div><a href="./home2.html"><p>首页</p></a></div>
		<div><p style="cursor:default">博文</p></div>
		<div><a href="./img.html"><p>图片</p></a></div>
	</div>

	<div>
		
	</div>

	<div class="context">
		<p class="alt_1">*央视曝市民返乡6次办护照 2名警员被处理</p>
		
		<p class="alt_2">*中国24%老人靠养老金生活 农村老人多自食其力</p>
		
		<p class="alt_3">*江苏丰县回应"市民往返11次办证"：10余人被处分</p>
		
		<p class="alt_4">*十年间中国福彩双色球共销售3022亿元</p>
		
		<p class="alt_5">*北京全路网飘红严重拥堵 官方呼吁错峰出行</p>
		
	</div>

</body>
</html>