<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<Link type="text/css" rel="stylesheet" href="../static/css/home.css"/>
	<script type="text/javascript" rel="script" src="../static/js/context_circle.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/jquery.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/detailShow.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/start.js"></script>
	<title>杨某某是也</title>
</head>
<body onload="contextPlace()">
	<div class="header"></div>

	<div class="menu">
		<div><p style="cursor:default">首页</p></div>
		<div><a href="./article.html"><p>博文</p></a></div>
		<div><a href="./img.html"><p>图片</p></a></div>
	</div>

	<div class="context">
		<div class="mainCircle_1">
			<div class="mainCircle_2">
				<img 
					style="width:200px;height:200px;"
					src="../static/img/sheep.jpg">
			</div>
		</div>	

		<div class="smallCircle">
			<div class="CircleN">
				<div class="CircleInside">
					<p class="N">N</p>
				</div>
			</div>

			<div class="CircleY">
				<div class="CircleInside">
					<p class="Y">Y</p>
				</div>
			</div>

			<div class="CircleH">
				<div class="CircleInside">
					<p class="H">H</p>
				</div>
			</div>

			<div class="CircleM">
				<div class="CircleInside">
					<p class="M">M</p>
				</div>
			</div>

		</div>

		<div class="detailBlock_1">
				<div class="detail_1_N"><p>NAME</p></div>
				<div class="detail_1_Y"><p>YEAR</p></div>
				<div class="detail_1_H"><p>HOBBY</p></div>
				<div class="detail_1_M"><p>MAJOR</p></div>
			</div>

			<div class="detailBlock_2">
				<div class="detail_2_N"><p>杨某某是也</p></div>
				<div class="detail_2_Y"><p>20</p></div>
				<div class="detail_2_H"><p>网球<br/>coding。。。。</p></div>
				<div class="detail_2_M"><p>软件工程</p></div>
			</div>
		
	</div>

</body>
</html>