<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<Link type="text/css" rel="stylesheet" href="../static/css/home.css"/>
	<script type="text/javascript" rel="script" src="../static/js/context_circle.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/jquery.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/detailShow.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/start.js"></script>
	<title>杨某某是也</title>
</head>
<body>


	<div class="header"></div>

	<div class="menu">
		<div><a href="./home2.html"><p>首页</p></a></div>
		<div><a href="./article.html"><p>博文</p></a></div>
		<div><p style="cursor:default">图片</p></div>
	</div>

	<div class="context">
		
		图片的做法和博文差不多，不过天亮了做不完了，将就一下啦，不好意思啦！！
	</div>

</body>
</html>